body {
    color: #4c4b5b;
    font-family: "Euclid Circular A", "Poppins";
    padding-top: 72px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  button,
  a {
    cursor: pointer;
    transition: 0.3s;
    color: inherit;
    font-weight: 600;
  }
  
  nav {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    translate: 0 -72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 72px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    background: #6b63ff;
    transition: 0.3s;
  }
  
  nav.visible {
    top: 0;
    translate: 0;
  }
  
  nav > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .nav-items {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .nav-items > a {
    text-decoration: none;
    color: rgb(255 255 255 / 96%);
    height: 72px;
    display: grid;
    place-items: center;
  }
  
  .nav-items > a:hover {
    color: rgb(255 255 255 / 96%);
  }
  
  h2 {
    font-size: 20px;
    margin: 0 0 4px;
    cursor: default;
  }
  
  section {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 100px 60px;
  }
  
  section.shaded {
    background: #f9f9ff;
  }
  
  section > img {
    width: 200px;
    height: 200px;
  }
  
  section.shaded > img {
    padding: 20px;
  }
  
  section > p {
    line-height: 1.7;
  }

  @media (width >= 500px) {
    body {
      padding: 0;
    }
  }
  
  @keyframes blobz {
    100% {
      translate: 30% -20%;
    }
  }
  
  .background {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: blobz 5s infinite alternate linear;
  }
  
  .background > div {
    position: fixed;
    width: 760px;
    height: 760px;
  }
  
  @media (width >= 800px) {
    .background > div {
      width: 50;
      height: 760px;
    }
  }
  
  .overlay {
    position: fixed;
    z-index: 2;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgb(255 255 255 / 40%);
    backdrop-filter: blur(60px);
  }
  
  .background :nth-child(1) {
    top: -30vmax;
    left: -30vmax;
  }
  
  .background :nth-child(2) {
    bottom: -30vmax;
    right: -25vmax;
  }
  
  .login {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 35%;
    translate: -50% -50%;
    width: 90%;
    padding: 70px 30px 44px;
    border-radius: 22px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 50px 100px rgb(0 0 0 / 14%);
    }

  .login2 {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 65%;
    translate: -50% -50%;
    width: 90%;
    padding: 70px 30px 44px;
    border-radius: 22px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 50px 100px rgb(0 0 0 / 14%);
  }
  
  @media (width >= 450px) {
    .login {
      width: 380px;
    }
  }
  
  .login > img {
    margin: 0 auto 16px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    padding: 4px;
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
  
  .login > h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 30px;
  }
  
  .login > h3 {
    color: rgba(0, 0, 0, 0.38);
    margin: 0 0 4px;
    font-weight: 400;
    font-size: 14px;
  }
  
  .login-form {
    display: grid;
    gap: 20px;
    place-items: center;
    width: 100%;
    margin: 0;
  }
  
  .textbox {
    width: 100%;
    position: relative;
  }
  
  .textbox label {
    position: absolute;
    top: 50%;
    left: 50px;
    translate: 0 -50%;
    color: rgba(0, 0, 0, 0.38);
    transition: 0.3s;
  }
  
  .textbox :is(input:focus, input:valid) ~ label {
    scale: 0.8;
    translate: -42px -38px;
    padding: 0 8px;
    background: #ffffff;
  }
  
  .textbox span {
    position: absolute;
    top: 50%;
    left: 16px;
    translate: 0 -50%;
    color: rgba(0, 0, 0, 0.38);
  }
  
  .login-form input,
  .login-form button {
    width: 100%;
    height: 60px;
    outline: none;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    border-radius: 8px;
  }
  
  .login-form input {
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    padding: 0 20px 0 50px;
    color: inherit;
  }
  
  .login-form input:focus {
    border-color: #8f44fd;
  }
  
  .login-form :is(input:focus, input:valid) ~ span {
    color: #1a1a1a;
  }
  
  .login-form button {
    cursor: pointer;
    background: #8f44fd;
    color: #f9f9f9;
    border: 0;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  .login-form a {
    color: #8f44fd;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
  }

  @media (width >= 450px) {
    .login2 {
      width: 380px;
    }
  }
  
  .login2 > img {
    margin: 0 auto 16px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 25%;
    padding: 4px;
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
  
  .login2 > h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 30px;
  }
  
  .login2 > h3 {
    color: rgba(0, 0, 0, 0.38);
    margin: 0 0 4px;
    font-weight: 400;
    font-size: 14px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  